# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

black_dye.PNG
blaze rod.PNG
blue_Dye.PNG
brown_dye.PNG
coal_dust1.PNG
coal_dust2.PNG
cobble_wart.PNG
cobweb.PNG
Crops.PNG
diamond.PNG
diamond_fragment.PNG
elytra.PNG
extra blue dye pers.PNG
feather.PNG
fragment_pers.PNG
graphite.PNG
gravel_Wart.PNG
icon1.png
leather.PNG
logo2.png
muscari pers.PNG
netherite ingot.PNG
netherrack.PNG
new blocks.PNG
new blocks2.PNG
saddle.PNG
string.PNG
tuff.PNG
yellow_dye.PNG

